<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>tarefa3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">tarefa3</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">

    <ion-title>Título de Progresso de Tarefa</ion-title>
    <p>Porcentagem de Conclusão</p>


        <div class="legend">
          <span>Perda de progresso</span>
          <span>12 m</span>
        </div>

       <ion-grid>
        <ion-row>
          <ion-col>
             <div class="progress-bar-with-butao">
          <div class="progress-bar">
            <ion-progress-bar [value]="porcentagem / 100" value="0.1" color="danger"></ion-progress-bar>
            <p>{{ porcentagem.toFixed(2) }}% concluída</p>
          </div>
          <div class="butao">
            <ion-button class="finalizada">Finalizada</ion-button>
          </div>
        </div>
          </ion-col>
        </ion-row>
       </ion-grid>


    <ion-item>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>Etapas tarefa</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>Etapas tarefa</ion-label>
    </ion-item>

    <ion-card *ngFor="let tarefa of tarefas">
      <ion-item color="{{ tarefa }}">
        <ion-checkbox slot="start" [(ngModel)]="tarefa.concluida"></ion-checkbox>
        <ion-label>
          <h2>{{ tarefa.nome }}</h2>
          <p>{{ tarefa.descricao }}</p>
          <p class="valor">{{ tarefa.valor }} mr</p>
        </ion-label>
      </ion-item>
    </ion-card>

  </ion-content>