ion-card {
  margin-bottom: 20px;
}

.step-item {
  margin-bottom: 10px;
  
  ion-item {
    --padding-start: 0;
    --inner-padding-end: 0;
  }
}

.actions {
  margin-top: 20px;
  
  ion-button {
    margin-bottom: 10px;
  }
}